<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="../../public/style.css">
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Express Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-4 ml-2">
              <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="/movies">Nos Films</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="/series">Nos Séries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies/add">Ajouter un film</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container my-4 py-3 mh-100" style="min-height: 480px;">
